nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    color: #0053df;

    & ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
    }

    #Buttons {
        display: flex;
        gap: 10px;

        & button {
            padding: 8px 10px;
            border-radius: 10px;
        }
    }

    #Login {
        background-color: transparent;
        border: 1px solid #0053df;
    }

    #Signup {
        background-color: #0053df;
        color: white;
        border: 0px;
    }
}